body {
    font-family: 'Roboto', sans-serif;
    background-color: #222222;
    color: #ffffffbf;
}

.top-banner{
    display: flex;
    border-style: solid;
    border-left: #222222;
    border-right: #222222;
    border-top: #222222;
    font-size: 14px;
    border-bottom-color: #393939;
}

.vietnam-tittle {
    padding-left: 15%;
    color: #ffffffbf;
    padding-right: 250px;
}

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6{
    margin-left: 100px;
    background-color: none;
}

body{
    margin: 0;
    padding: 0;
  }

.website-presentation{
    text-align: center;
}