body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #111217;
    color: #ffffffbf;
    margin: 0;
    padding: 0;
}

.top-banner {
    display: flex;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: rgba(57, 57, 57, 0.109);
    align-items: center
}

.vietnam-tittle {
    color: #ffffffbf;
    padding-right: 10%;
    margin-left: 15%;
    font-size: 18px;
}

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6 {
    
    color: #ffffffbf;
    background-color: #111217;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 40px;
    width: 120px;
    float: left;
    margin: auto;
}
.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover, .btn6:hover {
  transform: translateY(-2px);
  }


.website-presentation {
    padding-top: 15px;
    text-align: center;
}


.dropbtn {
  background-color: #111217;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #111217;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: solid;
  border-color: #1f2128;
  border-radius: 7px;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 6px;
}

.dropdown-content a:hover {background-color: #ffffff29;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background-color: #1f2128;
border-radius: 7px;
}
